.login-container-div {
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.login-main-div {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    color: black;
    font-family: "FreeMono", monospace;
    text-align: center;
    font-size: 14px;
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    left: 0;
    right: 0;
}
.login-button {
    position: absolute;
    background-color: lightblue;
    opacity: 0.9;
    width: 25vw;
    border-radius: 3vw;
    border-color: blue;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}