<div class="about-container-div"><!--Container-ul-->
    <div class="about-main-div"><!--Div-ul principal-->
        <div class="about-div">
          <h1> Proiect la Tehnologii Web, anul 2017.</h1>
          <h2>Noi suntem:</h2>
          <ul style="margin-left:auto;margin-right:auto;width:40%">
            <li>
              Lucian Filimon
            </li>
            <li>
              Vladimir Procop
            </li>
            <li>
              Victor Talif
            </li>
            <li>
                Andrei Palihovici
            </li>
        </ul>

        <p>
          Fun@Web este un joc multiplayer care ii va ajuta pe cei doritori sa isi imbunatateasca si testeze cunostintele legate de cele mai importante concepte predate la Tehnologii Web.
        </p>

        <p>
          In curand, jocul va fi disponibil pe Facebook si va putea fi accesibil si de pe telefoanele mobile.
        </p>
        <!-- <button>Like us on Facebook!</button><!--De adaugat un buton real--> -->
        </div>
    </div>
</div>
