extends layout

block content
	h3=title
	form#form_add_question(name="addquestion", method="post",action="/addquestion")
		span quest
		span &nbsp;
		input#quest(type="text", placeholder="quest", name="quest")
		br
		br
		span a1
		span &nbsp;
		input#a1(type="text", placeholder="a1", name="a1")
		br
		br
		span a2
		span &nbsp;
		input#a2(type="text", placeholder="a2", name="a2")
		br
		br
		span a3
		span &nbsp;
		input#a3(type="text", placeholder="a3", name="a3")
		br
		br
		span rightanswer
		span &nbsp;
		input#rightanswer(type="text", placeholder="rightanswer", name="rightanswer")
		br
		span diff
		span &nbsp;
		input#diff(type="text", placeholder="diff", name="diff")
		br
		br
		button#submit_question(type="submit") submit