<div class="home-main-div" >

  <div class="home-player-profile-div" style="width:50vw">

    <h1 style="font-weight: bolder; font-size: 5vmin;"> Welcome to Fun@Web {{formula}} {{fullName}}!</h1>
    <h3 class="home-h3">This web application is a simple multi-player game that should be played by anyone who wants to become a better web-developer.</h3>
    <h3 class="home-h3">Fun@Web can only be played in pairs of players, making it the perfect place to strengthen your bonds.</h3>
    <h3 class="home-h3">Do not be fooled by the extremely
      pretty user interface: playing this game is a real challenge even for the most experienced web programmers. We ask you politely to
    abstain from cheating: it is not fair to the other players and you will go to hell no dout</h3>
    <h3 class="home-h3">A detailed How-To-Instruction-Tutorial-Presentation-Guide-Manual video will be posted on this page later this semester. Don't hold your breath.</h3>
    <h3 class="home-h3">If you happen to find a bug while using Fun@Web you have 72 hours to leave the country.</h3>

  </div>

</div>
