<div class="leaderboard-container-div"><!-- Container-ul paginii-->
    <div class="leaderboard-main-div"><!--div-ul principal-->
        <div class="leaderboard-title">Leaderboard</div><!--Titlul-->
        <div class="leaderboard-middle-parent"><!--Un flexbox-->
            <div class="leaderboard-middle-child"><!--Prima coloana - scorul de azi-->
                <h1>Today</h1>
                <p class="leaderboard-position" style="margin-bottom: 0">1.</p>
                <p class="leaderboard-username-player" style="margin-bottom: 0">> Kit Kat</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">157</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">238</p>
                <br /><br /><br />
                <p class="leaderboard-position" style="margin-bottom: 0">2.</p>
                <p class="leaderboard-username-other" style="margin-bottom: 0">> William Leach</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">149</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">210</p>
                <br /><br /><br />
                <p class="leaderboard-position" style="margin-bottom: 0">3.</p>
                <p class="leaderboard-username-other" style="margin-bottom: 0">> Nicole Higgins</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">151</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">206</p>
                <br /><br /><br />
                <p class="leaderboard-position" style="margin-bottom: 0">4.</p>
                <p class="leaderboard-username-other" style="margin-bottom: 0">> Megan Johnson</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">20</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">50</p>
            </div>
            <div class="leaderboard-middle-child"><!--A doua coloana - scorul total-->
                <h1>All Time</h1>
                <p class="leaderboard-position" style="margin-bottom: 0">1.</p>
                <p class="leaderboard-username-other" style="margin-bottom: 0">> Aaron Cooper</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">172</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">291</p>
                <br /><br /><br />
                <p class="leaderboard-position" style="margin-bottom: 0">2.</p>
                <p class="leaderboard-username-player" style="margin-bottom: 0">> Kit Kat</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">157</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">238</p>
                <br /><br /><br />
                <p class="leaderboard-position" style="margin-bottom: 0">3.</p>
                <p class="leaderboard-username-other" style="margin-bottom: 0">> William Leach</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">149</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">210</p>
                <br /><br /><br />
                <p class="leaderboard-position" style="margin-bottom: 0">4.</p>
                <p class="leaderboard-username-other" style="margin-bottom: 0">> Nicole Higgins</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">151</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">206</p>
                <br /><br /><br />
                <p class="leaderboard-position" style="margin-bottom: 0">5.</p>
                <p class="leaderboard-username-other" style="margin-bottom: 0">> Spencer Perkins</p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Level: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">&#x2605;&#x2605;&#x2605;&#x2605;</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">No. of games played: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">128</p><br />
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">Maximum score: </p>
                <p class="leaderboard-profile-text" style="margin-bottom: 0;">201</p>
            </div>
        </div> 
    </div>
</div>