<script src="scripts/controllers/mystats.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/leaderboard.js"></script>
<!doctype html>
<html>


<div ng-app ="funwebregandit1App" role="navigation">

  <div class="stats-main-div" >

  <div class="stats-player-profile-div" style="width:50vw">

<form name="loginform" onSubmit="return validateForm();" action="/#!/about" method="post">
    <label>User name</label>
    <input type="text" name="usr" placeholder="username">
    <label>Password</label>
    <input type="password" name="pword" placeholder="password">
</form>


<a href="#!/main">
  <button id="loginbutton" data-ng-click="setHeaderVisible()">
    Login
  </button>
  </a>


</div>
</div>
</div>
</html>
