<!-- <img src="/images/backgrounds/city.jpg"/> -->
<div class="play-container-div">

<div class="play-main-div">

    <div class="play-health-div">
        <div id="health"></div>
        <h1></h1>
    </div>
    <div class="play-footer-div">
      <div class="play-all-buttons">
        <div class="button" id="option1" data-ng-click="option(1)"></div>
        <div class="button" id="option2" data-ng-click="option(2)"></div>
        <div class="button" id="option3" data-ng-click="option(3)"></div>
      </div>
    </div>
</div>

<div class="play-below-game-div">
<div class="play-player-profile-div">
    <img src="/images/profiles/k1.png" class="play-profile-pic"/>
      <p class="play-username-p">> SirPurrALot</p>
      <p class="play-nr-jocuri-p">This is your game with number: </p>
      <p class="play-val-nr-jocuri-p">9</p><br>
      <p class="play-nr-joc-p">This is the game with number: </p>
      <p class="play-val-nr-joc-p">1789</p>
</div>
  <div class="play-current-players-div" style="border: solid;">
    <p style="margin: auto; font-family: Impact, Charcoal, sans-serif; font-size: 2vw; color: #ff4830;text-decoration: underline;"> Now playing:
      <ol>
        <li class="play-current-player">SirPurrALot</p>
        <li class="play-current-player">Stick</p>
        <li class="play-current-player">Pic</p>
        <li class="play-current-player">Poc</p>
      </ol>
  </div>

</div>
</div>
