<div class="stats-container-div">
    <div class="stats-main-div">
        <div class="stats-player-profile-div">
            <img src="/images/profiles/k1.png" class="stats-profile-pic"/>
            <p class="stats-username-p" style="margin-bottom: 0">> Kit Kat</p>
            <p class="stats-profile-text" style="margin-bottom: 0;">Level: </p>
            <p class="stats-profile-text" style="margin-bottom: 0;">*****</p><br />
            <p class="stats-profile-text" style="margin-bottom: 0;">No. of games played: </p>
            <p class="stats-profile-text" style="margin-bottom: 0;">1789</p>
        </div>
    </div>
</div>