@import url("fonts.css");

.play-container-div{
    width: 90vw;
    /*height: 100vh;*/ /* DIN CAUZA CA ASA .......... sa apara alea de jos....*/
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    /*border: solid;*/
    overflow: hidden;

}

.play-main-div{
    position: static;
    display: block
    margin: auto;
    height: 80vh;
    width: 70vw;
    background-size: contain;
    overflow: hidden;
    color: #FFF;
    font-family: "FreeMono", monospace;
    text-align: center;
    font-size: 2vw;
    background-image: url('/images/backgrounds/arena.jpg');
    clear: both;
    border: groove;
    margin: 5vh 0vw 3vw 15vw; /*  */
    padding: 2vw 0 2vw 2vw;
    left: 0;
    right: 0;
    float: left;

}
.play-health-div{
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.play-footer-div {
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
    bottom: 0;
    top: 100%;
    height: auto;
    width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);

}
.object{
    width: 15vw;
    padding: 3vw;
    padding-top: 30vh;
}
.object:hover {
    transform: scale(1.5, 1.5);
}
.button {
    display: inline-block;
    padding: 1vw 1vh;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8vw;
    box-shadow: 0 1vh #999;
    width: auto;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1vh #333;
    transform: translateY(2vw);
}

.play-all-buttons{
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.play-below-game-div{
  position: relative;
  display: inline-flex;
  margin-bottom: 5%;
}
.play-player-profile-div{

    /*display: block;*/
    width: 35vw;
    height: 45vh;
    border: groove;
    top: 0;
    margin-left: 15vw;
    clear: both;
}
.play-current-players-div{
  display: inline;
  position: relative;
  float: right;
  width: 35vw;
  border: groove;
  top: 0;
  margin: 0;
  margin-right: 15vw;
  clear: both;
}
.play-profile-pic{
  display: block;
  width: 30%;
  height: auto;
  margin: auto;
  border-radius: 50%;
  border: solid;
  border-color: blue;
  clear: both;
}

.play-username-p{
    display: block;
    position: static;
    margin-left: 1vw;
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    font-size: 2vw;
    color: #654feb;
    margin: 0;
    padding: 0;
    right: 0;
    /*font-weight: bold;*/
}
.play-nr-jocuri-p{
  display: inline;
  position: static;
  /*margin-left: 1vw;*/
  font-family: Arial, Charcoal, sans-serif;
  font-style: italic;
  font-size: 1vw;
  color: #3f40c1;
  font-weight: bold;
}
.play-val-nr-jocuri-p{
  display: inline;
  position: static;
  /*margin-left: 1vw;*/
  font-family: Arial, Charcoal, sans-serif;
  /*font-style: italic;*/
  font-size: 1vw;
  color: #a10ceb;
}
.play-nr-joc-p{
  display: inline;
  position: static;
  /*margin-left: 1vw;*/
  font-family: Arial, Charcoal, sans-serif;
  font-style: italic;
  font-size: 1vw;
  color: #3f40c1;
  font-weight: bold;
}
.play-val-nr-joc-p{
  display: inline;
  position: static;
  /*margin-left: 1vw;*/
  font-family: Arial, Charcoal, sans-serif;
  /*font-style: italic;*/
  font-size: 1vw;
  color: #a10ceb;
}
.play-current-player{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.3vw;
  font-style: italic;
  font-weight: bold;
  color: #a10ceb;
}
