@import url("fonts.css");

.play-container-div{
    width: 100%;
    height: 100%;
}

.play-main-div{
    display: inline-block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 70%;
    width: 70%;
    background-size: contain;
    overflow: hidden;
    color: #FFF;
    font-family: "FreeMono", monospace;
    text-align: center;
    font-size: 2vw;
    padding-left: 13%;
    padding-right: 13%;
    background-image: url('/images/backgrounds/arena.jpg');
    clear: both;

}
.play-health-div{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.object{
    width: 15vw;
    padding: 3vw;
    padding-top: 30vh;
}
.object:hover {
    transform: scale(1.5, 1.5);
}
.button {
    display: inline-block;
    padding: 1vw 1vh;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8vw;
    box-shadow: 0 1vh #999;
    width: auto;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1vh #333;
    transform: translateY(2vw);
}
.play-footer-div {
    position: absolute;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
    bottom:0;
    height: auto;
    width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);

}
.play-all-buttons{
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.play-player-profile-div{
    top: 100%;
    clear: both;
}
.play-profile-pic{
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
